body * {
    box-sizing: border-box;
}

body {
    font-size: 10pt;
    margin: 0;
    color: #503b3e;
    background-color: #d9dfe9;
    font-family: "Source Sans Pro", Cambria, Cochin, Georgia, serif
}


/*div {
    border: 1px dotted red;
}*/

.content {
    width: 80%;
    padding-right: 2em;
    padding-bottom: 10em;
    padding-left: 10em;
    background-color: #e6ddde;
    border-right: 10px solid white;
}

header {
    padding: 10em 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "BioRhyme", Tahoma, Helvetica, sans-serif
}


/*名字*/

h1 {
    font-size: 36pt;
    font-family: "Jazz LET", Cambria, Cochin, Georgia, serif;
    margin-top: 0;
    margin-bottom: 20px;
}


/*节标题*/

main>section>h2 {
    padding-left: 0.2em;
    font-size: 11pt;
}


/*项目标题*/

.item>h3 {
    font-size: 10pt;
    margin-bottom: 0;
}


/*项目子标题*/

.item>h4 {
    font-size: 10pt;
    color: #906a70;
    margin-top: 0;
}

.item {
    margin-left: 1em;
}

#photo {
    width: 170px;
}

#photo>img {
    width: 100%;
    border: 5px solid transparent;
    border-radius: 50%;
}

#info {
    margin-left: 2em;
}

.link {
    font-size: 11pt;
    padding: 2px 0.62em;
    border: 1px solid #e6ddde;
}

.link:hover {
    background-color: #503b3e;
    border: 1px solid #503b3e;
    color: white;
    border-radius: 5px;
}

.link>span {
    margin-right: 0.38em;
}

a {
    text-decoration: none;
    color: #503b3e;
}

a:hover {
    color: white;
}

ul {
    margin: 0;
    padding-left: 20px;
}

li {
    list-style-type: none;
}

li span {
    margin-right: 10px;
}