.item {
    position: relative;
}

.neirong {
    border: none;
}

.item:first-child .jianjie {
    opacity: 0.62;
    height: 100%;
    background-color: #503b3e;
}

.jianjie {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #e6ddde;
    background-color: rgba(80, 59, 62, 0.9);
    z-index: 1;
}

.tupian img {
    -webkit-filter: none;
}

.contact {
    width: 100%;
}

.hireme {
    display: none;
}
