body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #d9dfe9;
    color: #503b3e;
    font-size: 12pt;
    font-family: "BioRhyme", Tahoma, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a img {
    display: block;
}

a:visited,
a:link {
    color: #503b3e;
}

a:hover {
    text-decoration: underline;
}

.photo {
    background-color: #d9dfe9;
}

.photo img {
    border-radius: 50%;
}

.jieshao {
    text-align: center;
}

.neirong {
    background-color: #e6ddde;
    padding-bottom: 3em;
    /*border-right: 7px solid white;*/
}

.jianjie {
    padding: 1em;
}

.jianjie span {
    background-color: #503b3e;
    padding: 5px 10px;
    color: #e6ddde;
    font-size: 10pt;
    margin: 2px 5px;
    display: inline-block;
    border-radius: 3px;
}

.tupian img {
    -webkit-filter: blur(2px);
}

.contact {
    background-color: rgba(230, 221, 222, 0.62);
    font-size: 10pt;
    padding: 1em;
}

.contact span {
    margin: 0 0.5em;
    padding: 5px;
    border-radius: 50%;
    color: #e6ddde;
    background-color: #503b3e;
}

.hireme {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}