.sm_title_font {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
}

.info_font {
    font-family: Oswald, 'Roboto Condensed Medium', 'HelveticaNeue-CondensedBold', sans-serif;
}

.text_font {
    font-family: Lora, Georgia, 'Times New Roman', Times, serif;
}